/node_modules
/public/hot
/public/files
/public/gallery
/public/photos
/public/storage
/public/admin-panel/super-admin
/storage/*.key
/vendor
/.idea
/.vagrant
/nbproject
/.well-known
.env
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
/nbproject/private/
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
/.vscode
.php_cs.cache
coverage.xml
/coverage
.phpunit.result.cache
/public/tender_attach/Walkthrough Animation (15 Storied).mp4
/storage/framework
/storage/debugbar
/storage/fonts
/storage/logs
vendor
